@tailwind utilities;
@tailwind components;
@tailwind base;

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

.v-fill {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.error-input {
	@apply bg-red-500 text-stone-100;
  @apply focus:shadow-red-300 !important;
	@apply focus:ring-red-300 !important;
}

.loading-input {
	@apply bg-neutral-700;
}
